.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  width: 100%;
}

.form {
  width: 100%;
}

.select {
  padding: 10px;
  width: 100%;
}

.label {
  padding: 10px;
}

.option {
  padding: 50px;
}